
.Profile {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .ProfileImage {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    margin:2px;
    z-index:100;
  }

.ProfileImageLoading {
    background-color: #EEE;   
    border:none; 
}

  .ProfileImage--small{
    width:24px;
    height: 24px;
  }
  
  .ProfileImage--medium {
    width:36px;
    height: 36px;
  }
  
  .ProfileImage--large{
    width:56px;
    height: 56px;
  }
  
  .ProfileHighlight {
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: inline-block;
    position: absolute;
  }
  
  .ProfileHighlight--small{
    width:32px;
    height: 32px;
  }
  
  .ProfileHighlight--medium{
    width:44px;
    height: 44px;
  }
  
  .ProfileHighlight--large{
    width:64px;
    height: 64px;
  }